html {
  font-size: 1em;
}

:root {
  --primary-color: rgb(153, 165, 154);
}

body {
  margin: 0;
  color: white;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-image: url(https://spatialcalculator.com/images/background.jpg);
}

.bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background: rgb(26, 29, 25);
  padding: 1em;

  .logo {
    text-decoration: none;
    display: inline-flex;
    font-weight: bold;
    color: white;
    font-size: 1.2em;

    span {
      color: var(--primary-color);
    }

    img {
      width: 1.4em;
      height: 1.4em;
      margin-right: 0.3em;
    }
  }

  nav {
    display: none;
  }

  .container {
    display: flex;
    place-content: space-between;
  }

  .mobile-menu {
    cursor: pointer;
  }
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 1.5em 2em;
}

.hero {
  text-align: center;

  .container {
    width: 95%;
    margin: auto;
  }

  .heading {
    .subhead {
      display: none;
      text-transform: uppercase;
      font-weight: bold;
      color: gray;
      letter-spacing: 0.2em;
    }

    h1 {
      display: none;
      text-transform: uppercase;
      font-size: 1.8em;
      line-height: 1.2;
      margin-top: 0.1em;
      margin-bottom: 0.1em;
    }
  }

  .hero-input {
    position: relative;
    display: inline-block;
    margin: auto;
    width: 90%;
    padding: 1em;
    border-style: so;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.9);

    .form-group {
      [type="checkbox"] {
        background-color: rgb(0, 0, 0, 0.9);
      }

      label {
        display: block;
        text-align: left;
        font-size: 0.9em;
        width: 17.5em;
        margin: auto;
        margin-top: 0.3em;
        padding: 0.5em;
      }

      select {
        width: 19em;
        height: 2.5em;
        color: white;
        background-color: rgb(0, 0, 0, 0);
      }

      select option {
        color: white;
        background-color: rgb(0, 0, 0, 0.9);
      }

      input {
        width: 18.5em;
        height: 2.5em;
        color: white;
        background-color: rgb(0, 0, 0, 0);
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 3em;
        height: 1em;
        margin-left: 9.5em;
        vertical-align: middle;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #20272e;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      input:checked + .slider {
        background-color: var(--primary-color);
      }

      input:focus + .slider {
        box-shadow: 0 0 1px var(--primary-color);
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
    }
  }

  .buttons {
    .calculate-cta, .clear-cta {
      height: 50px;
      width: 200px;
      background: white;
      color: black;
      text-align: center;
      padding: 0.2em 1.2em;
      font-size: 20px;
      border: 1px;
      border-radius: 0.5em;
      font-weight: bold;

      &:hover {
        cursor: pointer;
        background: #cacaca;
      }
    }
  }

  .hero-output {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */

    .output-container {
      background-color: var(--primary-color);
      color: black;
      margin: 10% auto; // 15% from the top and centered
      padding: 20px;
      border-radius: 1em;
      text-align: left;
      width: 70%; //adjust based on screen size

      label {
        font-size: 1em;
        font-weight: 550;
      }

      .result {
        color: black;
        font-size: 0.9em;
        padding: 0.8em 0;
      }
      .note {
        display: none;
        padding: 0.5em 0;
        font-size: 0.7em;
      }
    }
    
    .clear-cta {
      display: none;
    }

    .close-output {
      color: var(--primary-color);
      font-size: 28px;
      font-weight: bold;
    }

    .close-output:hover,
    .close-output:focus {
      color: rgb(0, 0, 0, 0.9);
      text-decoration: none;
      cursor: pointer;
    }
  }
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272e;
  height: 100vh;
  padding: 1em;

  ul.primary-nav {
    margin-top: 5em;
  }

  li {
    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 0.5em;
      font-size: 1.3em;
      text-align: right;

      &:hover {
        color: var(--primary-color);
        font-weight: bold;
      }
    }
  }
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

// mobile to desktop
@media only screen and (min-width: 500px) {
  .hero {
    .hero-input {
      border-radius: 1em 1em 0 0;
    }

    .close {
      display: none;
    }

    .hero-output {
      position: relative;
      display: inline-block; // change to none
      margin: auto;
      width: 90%;
      padding: 1em;
      border-style: so;
      border-radius: 0 0 1em 1em;
      background-color: rgba(0, 0, 0, 0.9);

      .close-output {
        display: none;
      }

      .output-container {
        
        background-color: rgb(0, 0, 0, 0);
        color: white;
        margin: 0 auto; // 15% from the top and centered
        padding: 0;
        border-radius: 0;
        text-align: left;
        width: 100%; //adjust based on screen size
        width: 17em;
        margin: auto;
        text-align: left;

        .form-group {

          label {
            display: block;
            padding: 0 0.5em;
            font-size: 0.9em;
            font-weight: normal;
          }

          .result {
            font-size: 0.9em;
            height: 1.5em;
            padding: 0.5em;
            color: var(--primary-color);
          }
        }

        .note {
          display: none;
          text-align: left;
          margin: 1em 0;
          padding: 0 0.5em;
          font-size: 0.7em;
        }
      }
      .clear-cta {
        display: inline-block;
      }
    }
  }
}

// increase width
@media only screen and (min-width: 730px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;

    ul {
      display: flex;
    }

    a {
      color: var(--primary-color);
      font-size: 1em;
      padding: 0.1em 1em;
    }

    ul.primary-nav {
      margin: 0;
    }
  }

  .hero {
    .container {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 60em;
    }

    .hero-input {
      display: block;
      width: 50%;
      max-width: 60%;
      height: 35em;
      margin-right: 5%;
      border-radius: 1em;
    }

    .hero-output {
      display: block;
      width: 50%;
      max-width: 60%;
      height: 35em;
      margin-left: 5%;
      border-radius: 1em;

      .output-container {
        margin-top: 1em;
      }
    }

    .buttons {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 5%;
    }
  }
}
