html {
  font-size: 17px;
}

:root {
  --primary-color: rgb(153, 165, 154);
}

body {
  margin: 0;
  color: white;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-image: url(/spatial-calc-js/images/background3.jpg)
}

.bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background: rgb(26, 29, 25);
  padding: 1em;

  .logo {
    text-decoration: none;
    display: inline-flex;
    font-weight: bold;
    color: white;
    font-size: 1.2em;

    span {
      color: var(--primary-color);
    }

    img {
      width: 1.4em;
      height: 1.4em;
      margin-right: 5px;
    }
  }

  nav {
    display: none;
  }

  .container {
    display: flex;
    place-content: space-between;
  }

  .mobile-menu {
    cursor: pointer;
  }
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 1.5em 2em;
}

.hero {
  text-align: center;

  .container {
    width: 450px;
    margin: auto;
  }

  .heading {
    .subhead {
      display: none;
      text-transform: uppercase;
      font-weight: bold;
      color: gray;
      letter-spacing: 0.2em;
    }

    h1 {
      display: none;
      text-transform: uppercase;
      font-size: 1.8em;
      line-height: 1.2;
      margin-top: 0.1em;
      margin-bottom: 0.1em;
    }
  }

  .hero-input {
    display: inline-block;
    margin: auto;
    width: 350px;
    padding: 1em;
    border-style: so;
    background-color: rgba(0, 0, 0, 0.9);

    .form-group {
      [type="checkbox"] {
        vertical-align: middle;
        margin-left: 10em;
        margin-top: 0em;
        width: 1.2em;
        height: 1.2em;
        background-color: rgb(0, 0, 0, 0.9);
      }

      label {
        display: block;
        text-align: left;
        font-size: 0.9em;
        width: 250px;
        margin: auto;
        margin-top: 0.3em;
        padding: 0.5em;
      }

      select {
        width: 250px;
        height: 2.5em;
        //margin-bottom: 0.8em;
        color: white;
        background-color: rgb(0, 0, 0, 0);
      }

      select option {
        color: white;
        background-color: rgb(0, 0, 0, 0.9);
      }

      input {
        width: 250px;
        height: 2.5em;
        color: white;
        background-color: rgb(0, 0, 0, 0);
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 38px;
        height: 12px;
        margin-left: 8.3em;
        vertical-align: middle;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #20272e;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      input:checked + .slider {
        background-color: var(--primary-color);
      }

      input:focus + .slider {
        box-shadow: 0 0 1px var(--primary-color);
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
    }
  }

  .buttons {
    .calculate-cta,
    .clear-cta {
      height: 50px;
      width: 200px;
      background: white;
      color: black;
      text-align: center;
      padding: 0.2em 1.2em;
      font-size: 20px;
      border: 1px;
      margin-top: 0.5em;
      font-weight: bold;

      &:hover {
        cursor: pointer;
        background: #cacaca;
      }
    }
  }

  .hero-output {
    display: inline-block;
    width: 350px;
    padding: 1em;
    border-style: so;
    background-color: rgba(0, 0, 0, 0.9);

    .output-container {
      height: 320px;
      width: 250px;
      margin: auto;
      text-align: left;
    }

    .form-group {
      width: 250px;
      margin: auto;

      label {
        display: block;
        font-size: 0.9em;
      }

      .result {
        font-size: 0.9em;
        height: 25px;
        padding: 0.5em 0;
        color: var(--primary-color);
      }
    }
    .note {
      display: none;
      margin-top: 10px;
      text-align: left;
      font-size: 12px;
    }
  }
}

iframe {
  width: 100%;
  height: 250px;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272e;
  height: 100vh;
  padding: 1em;

  ul.primary-nav {
    margin-top: 5em;
  }

  li {
    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 0.5em;
      font-size: 1.3em;
      text-align: right;

      &:hover {
        color: var(--primary-color);
        font-weight: bold;
      }
    }
  }
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

// increase width

@media only screen and (min-width: 750px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;

    ul {
      display: flex;
    }

    a {
      color: var(--primary-color);
      font-size: 1em;
      padding: 0.1em 1em;
    }

    ul.primary-nav {
      margin: 0;
    }
  }

  .hero {
    .container {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 1000px;
    }

    .hero-input {
      width: 50%;
      max-width: 400px;
      height: 550px;
      margin-right: 2em;

      .calculate-cta {
        margin-top: 1.5em;
      }
    }

    .hero-output {
      width: 50%;
      max-width: 400px;
      height: 550px;
      margin-left: 2em;

      .output-container {
        margin-top: 1em;
      }

      .clear-cta {
        margin-top: 6.9em;
      }
    }
  }
}
